#signup-form
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    .field
      = f.label :first_name
      %br
      = f.text_field :first_name
    .field
      = f.label :last_name
      %br
      = f.text_field :last_name
    .field
      = f.label :address_line1
      %i (your street address)
      %br/
      = f.text_field :address_line1
    .field
      = f.label :address_line2
      %i (apartment or suite number)
      %br/
      = f.text_field :address_line2
    .field
      = f.label :city
      %br/
      = f.text_field :city
    .field
      = f.label :state
      %i (your state's abbreviation)
      %br/
      = f.text_field :state
    .field
      = f.label :zipcode
      %br/
      = f.text_field :zipcode
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    .actions
      = f.submit "Sign up", class: "submit-buttons"
  %p Already have an account?
  = render "devise/shared/links"
