#signup-form
  %h2 Sign up
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .field
      %br/
      = f.input :email, autofocus: true, error: "This field is mandatory."
    .field
      %br
      = f.input :first_name
    .field
      %br
      = f.input :last_name
    .field
      %i (your street address)
      %br/
      = f.input :address_line1
    .field
      %i (apartment or suite number)
      %br/
      = f.input :address_line2
    .field
      %br/
      = f.input :city
    .field
      %i (your state's abbreviation)
      %br/
      = f.input :state
    .field
      %br/
      = f.input :zipcode
    .field
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    .actions
      = f.submit "Sign up", class: "submit-buttons"
  %p Already have an account?
  = render "devise/shared/links"
