.user-past-purchase-show
  %h3
    Purchase made on
    = @purchase.created_at.strftime("%m/%d/%Y")
    %br
    Total:
    $
    = @purchase.amount
    %br
    %br
  - @purchase.items.each do |item|
    %h5
      = link_to "View Item", item_path(item)
      %br
      $
      = item.price
      %br
      = item.description
      %br
      = image_tag item.avatar(:medium)

    - if @purchase.ordered? && !@purchase.shipped?
      %h4 Order Status: Ordered
    - elsif @purchase.ordered? && @purchase.shipped?
      - OrderMailer.order_status(current_user, @purchase).deliver_now
      %h4 Order Status: Shipped!

    %h5#past-purchase
      Want to
      = link_to "review", new_item_review_path(item)
      this item?
