.user-past-purchase-show
  %h3
    Purchase made on
    = @purchase.created_at.strftime("%m/%d/%Y")
    %br
    Total:
    $
    = @purchase.amount
    %br
    %br
  - @purchase.items.each do |item|
    %h5
      = link_to "View", item_path(item)
      %br
      $
      = item.price
      %br
      = item.description
      %br
      = image_tag item.avatar(:medium)

    %h5#past-purchase
      Want to leave a
      = link_to "review", new_item_review_path(item)
      ?
