#mycart.small-10.small-centered.medium-8.large-8.column
  .p1.glassy-bg.mb1.text-center.radius-l1.radius-r1
    %h3 My Cart
    - if current_user
      %p.mb0
        You've selected
        %strong
          = pluralize(current_user.cart_count, 'item')
        !
      - @cart_items.each do |item|
        .cart-item.large-12.column.mb1{"data-equalizer" => ""}
          .column.large-2.text-center.p0{"data-equalizer-watch" => ""}
            = link_to item do
              = item.name
              = image_tag item.avatar(:medium)
              - 2.times do
                %br

            %br
            - if item.quantity > 0 && current_user.no_more?
              = link_to "" , id: "add-button" , class: "add-to-cart", data: {targetUrl: add_to_cart_path(item)} do
                Add More
            %br
            = link_to "" , id: "remove-button" , class: "remove", data: {targetUrl: remove_from_cart_path(item)} do
              Remove
            %br

          .column.small-3.primary-bg.text-center.radius-r1{"data-equalizer-watch" => ""}
            %h5.scale Price per unit
            %h5.scale
              $ #{sprintf "%.2f", item.price}

          .column.small-3.primary-bg.text-center.radius-r1{"data-equalizer-watch" => ""}
            %h5.scale Quantity
            %h5.scale
              x
              = current_user.get_quantity(item.id)
          .column.large-3.primary-bg.text-center.radius-r1{"data-equalizer-watch" => ""}
            %h4.scale Item Total
            %h4.scale
              $ #{sprintf "%.2f", (item.price * current_user.get_quantity(item.id))}
              %br
              %br
    - else
      %p.mb0
        You've selected
        %strong
          = pluralize(guest_user.cart_count, 'item')
        !
      - @guest_cart_items.each do |item|
        .cart-item.large-12.column.mb1{"data-equalizer" => ""}
          .column.large-2.text-center.p0{"data-equalizer-watch" => ""}
            = link_to item do
              = item.name
              = image_tag item.avatar(:medium)
              - 2.times do
                %br

            %br
            - if item.quantity > 0 && guest_user.no_more?
              = link_to "" , id: "add-button" , class: "add-to-cart", data: {targetUrl: add_to_cart_path(item)} do
                Add More
            %br
            = link_to "" , id: "remove-button" , class: "remove", data: {targetUrl: remove_from_cart_path(item)} do
              Remove
            %br

          .column.small-3.primary-bg.text-center.radius-r1{"data-equalizer-watch" => ""}
            %h5.scale Price per unit
            %h5.scale
              $ #{sprintf "%.2f", item.price}

          .column.small-3.primary-bg.text-center.radius-r1{"data-equalizer-watch" => ""}
            %h5.scale Quantity
            %h5.scale
              x
              = guest_user.get_quantity(item.id)
          .column.large-3.primary-bg.text-center.radius-r1{"data-equalizer-watch" => ""}
            %h4.scale Item Total
            %h4.scale
              $ #{sprintf "%.2f", (item.price * guest_user.get_quantity(item.id))}
              %br
              %br




- if current_user
  #totals.column.large-3.primary-bg.text-center.radius-r1{"data-equalizer-watch" => ""}

    - unless current_user.cart_count.zero?
      = form_tag charges_path do
        %article
          - if flash[:error].present?
            #error_explanation
              %p= flash[:error]
          %label.amount
            %span Cart Total: $
            - if current_user.state == 'CA'
              = current_user.add_sales_tax
              %span.cart-total ( 7.25% Sales Tax added to California Residents )
            - else
              = current_user.cart_total_price
          %script.stripe-button{"data-amount" => "{ @amount }", "data-description" => "Please complete your purchase", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-email" => "#{current_user.email}", "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}

- else
  #totals-guest.column.large-3.primary-bg.text-center.radius-r1{"data-equalizer-watch" => ""}
    #signup-guest-cart= link_to "Sign up", new_user_registration_path
    OR
    #login-guest-cart= link_to "Login", new_user_session_path
    to checkout!
