#edit-item-form
  = simple_form_for @item do |form|
    - if item.errors.any?
      #error_explanation
        %h2
          = pluralize(item.errors.count, "error")
          prohibited this item from being saved:
        %ul
          - item.errors.full_messages.each do |message|
            %li= message
    = select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category")
    .field
      = form.label :name
      = form.input :name, id: :item_name, label: false
    .field
      = form.label :price
      = form.input :price, id: :item_price, label: false
    .field
      = form.label :description
      = form.input :description, id: :item_description, label: false
    .field
      = form.label :quantity
      = form.input :quantity, id: :item_quantity, label: false
    .field
      = form.file_field :avatar, as: :file
    .actions
      = form.submit
