.search-empty
  - if @items.blank?
    %h4 There are no items that match
    = params[:search]


%p#notice= notice


- @items.each do |item|
  %p.items-index
    = image_tag item.avatar(:thumb)
    %br
    = link_to item.description, item
    %br
    $
    = sprintf "%.2f", item.price
    %br

%br/
