.search-empty
  - if @items.blank?
    %h4 There are no items that match
    = params[:search]

- if flash[:notice]
  .alert-box= notice

- @items.each do |item|
  %p.items-index
    = image_tag item.avatar(:medium)
    %br
    = link_to item.description, item
    %br
    $
    = sprintf "%.2f", item.price
    %br
%br/
