.search-empty
  - if @items.blank?
    %h4 There are no items that match
    = params[:search]


%p#notice= notice


- if current_user && current_user.admin?
  = link_to 'Add New Item', new_item_path, class: "button success"




- @items.each do |item|
  %p.items-index
    = image_tag item.avatar(:thumb)
    %br
    = link_to item.description, item
    %br
    $
    = sprintf "%.2f", item.price
    %br


    - if current_user && current_user.admin?
      = link_to 'Edit', edit_item_path(item)
      ||
      = link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }
%br/
