.item-show-info
  - if flash[:notice]
    .alert-box= notice
  %p
    %strong Item:
    = @item.name
  %p
    %strong Price:
    $
    = sprintf "%.2f", @item.price
  %p
    %strong Description:
    = @item.description

  %p.image
    = image_tag @item.avatar(:medium)

  %p
    %strong Left in Stock:
    = @item.quantity
  %p
    = @item.category.name

.item-show-links
  = link_to 'Back', items_path

  - if current_user && current_user.admin?
    ||
    = link_to 'Edit', edit_item_path(@item)

  #item-button
    - if signed_in? && @item.quantity > 0 && current_user.no_more?
      = link_to "", id: "add-button" , class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@item), anotherUrl: add_to_cart_path(@item)} do
        %span= @cart_action
        Cart

    - if signed_in? && current_user.get_cart_items.include?(@item)
      = link_to "" , id: "remove-button" , class: "remove", data: {targetUrl: remove_from_cart_path(@item)} do
        Remove


  %h4 Average Rating
  .average-review-rating{ 'data-score': @average_review }
  %span Based on
  = link_to @item.reviews.count, item_reviews_path(@item)
  reviews

  %br
  %br

  - if signed_in?
    #add-review-button
      = link_to "Add Review", new_item_review_path(@item)
