.item-show-info
  %p#notice= notice
  %p
    %strong Name:
    = @item.name
  %p
    %strong Price:
    $
    = sprintf "%.2f", @item.price
  %p
    %strong Description:
    = @item.description

  %p.image
    = image_tag @item.avatar(:medium)

  %p Average Rating
  .average-review-rating{ 'data-score': @average_review }
  %span Based on
  = @item.reviews.count
  reviews

  #item-button
    - if signed_in?
      = link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@item), anotherUrl: add_to_cart_path(@item)} do
        %span= @cart_action
        Cart
      = link_to "" , id: "remove-button" , class: "remove", data: {targetUrl: remove_from_cart_path(@item)} do
        Remove


.item-show-links
  - if current_user && current_user.admin?
    = link_to 'Edit', edit_item_path(@item)
    |
  = link_to 'Back', items_path
  %br
  %br
  = render @item.reviews
  #add-review-button
    = link_to "Add Review", new_item_review_path(@item)
