%p#notice= notice
%p
  %strong Name:
  = @item.name
%p
  %strong Price:
  = @item.price
%p
  %strong Description:
  = @item.description

  - if signed_in?
    = link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@item), removeUrl: remove_from_cart_path(@item)} do
      %i.fi-shopping-cart
      %span= @cart_action
      Cart

= link_to 'Edit', edit_item_path(@item)
|
= link_to 'Back', items_path
