.item-show-info
  %p#notice= notice
  %p
    %strong Name:
    = @item.name
  %p
    %strong Price:
    = sprintf "%.2f", @item.price
  %p
    %strong Description:
    = @item.description

  %p.image
    = image_tag @item.avatar(:medium)

  #item-button
    - if signed_in?
      = link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@item), anotherUrl: add_to_cart_path(@item)} do
        %span= @cart_action
        Cart
      = link_to "" , id: "remove-button" , class: "remove", data: {targetUrl: remove_from_cart_path(@item)} do
        Remove


.item-show-links
  - if current_user && current_user.admin?
    = link_to 'Edit', edit_item_path(@item)
    |
  = link_to 'Back', items_path


  - if signed_in?
    %h3.review-header Reviews
    - @comments.each do |comment|
      %div.reviews
        %strong= comment.user_email
        %br/
        %p= comment.body
      - if current_user.email == comment.user_email
        = link_to 'Edit Comment', edit_comment_path(comment)
        |
        = link_to 'Delete Comment', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?'}
        %br
        %br
    = render partial: 'comments/form', locals: { comment: @comment }
