-if flash[:notice]
  .alert-box= notice

%p#back-item-link
  = link_to "Back to item", item_path(@item)
- if @item.reviews.empty?
  %h2 There are no reviews for this item yet.
- else
  %h2#review-header Reviews for:
  %h3#review-item-name
    = @item.name
  %p#review-item-image
    = image_tag @item.avatar(:thumb)

  - @item.reviews.each do |review|
    .all-ratings
      .review-rating{ 'data-score': review.rating }
      = simple_format(review.comment)
      - if user_signed_in?
        - if review.user_id == current_user.id
          = link_to "Edit", edit_item_review_path(review.item, review)
          ||
          = link_to "Delete", item_review_path(review.item, review), method: :delete, data: { confirm: "Are you sure?" }
