.thanks-page
  %h2
    Thanks, your transaction was handled successfully!!
    %br

    %br
    Your item(s) will be shipped to:
    %br
    %br
    = current_user.full_name
    %br
    = current_user.address_line1
    %br
    - if !current_user.address_line2.empty?
      = current_user.address_line2
      %br
    = current_user.full_address
    %br


  %h5#view-purchases
    To view your purchases, click
    = link_to "here", user_purchases_path(@user)

  %h5#thanks-back
    = link_to "Back", :back
