!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:name) ? yield(:name) : "the store"

    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    %script{src:"https://code.jquery.com/jquery-3.2.1.js"}
    %script{src:"https://js.stripe.com/v3/"}

    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          %a{:class => "navbar-brand", :href => "/"}
            Store

        %ul.navbar.nav
          %li.nav-item.dropdown
            %a#category-dropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", "href"=>"#"}
              Search by Category
              %span.caret
            %ul#drop1.dropdown-menu{"role"=>"menu"}
              - Category.all.each do |category|
                %li{:class => "#{'active' if params[:category] == category.name}"}
                  = link_to category.name, items_path(category: category.name), class: "link"

        %ul.navbar.nav#main-menu
          - if current_user.nil?
            %li.nav-item= link_to "Register", new_user_registration_path
            %li.nav-item= link_to "Login", new_user_session_path
            %li.nav-item
              = link_to cart_path do

                Guest Cart
                (
                %span.cart-count>= guest_user.cart_count
                )

          - elsif signed_in? && current_user.admin == true
            %li.nav-item
              = link_to cart_path do

                My Cart
                (
                %span.cart-count>= current_user.cart_count
                )

            %li.nav-item= link_to "Past Purchases", user_purchases_path
            %li.nav-item= link_to current_user.email, edit_user_registration_path
            %li.nav-item= link_to "Logout", destroy_user_session_path, method: :delete
            %li.nav-item= link_to "Admin Dashboard", "/cms"

          - else
            %li.nav-item
              = link_to cart_path do

                My Cart
                (
                %span.cart-count>= current_user.cart_count
                )

            %li.nav-item= link_to "Past Purchases", user_purchases_path
            %li.nav-item= link_to current_user.email, edit_user_registration_path
            %li.nav-item= link_to "Logout", destroy_user_session_path, method: :delete
            %li.navbar.nav

    = form_tag(items_path, :method => "get", id: "search-form") do
      = text_field_tag :search, params[:search], placeholder: "Search Items"
      = submit_tag "Search", :name => nil, class: "search-button"

    .content

      = yield

    = javascript_include_tag "application"
