!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:name) ? yield(:name) : "the store"

    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    %script{src:"https://code.jquery.com/jquery-3.2.1.js"}
    %script{src:"https://js.stripe.com/v3/"}

    = csrf_meta_tags
  %body
    .row
      %nav.top-bar.column{"data-topbar" => ""}
        %ul.title-area
          %li.name
            %h1
              %a{:href => "/"}
                %i.fi-play-video
                Store

          %li.search-bar
            %i.fi-play-video
              = form_tag(items_path, :method => "get", id: "search-form") do
                = text_field_tag :search, params[:search], placeholder: "Search Items"
                = submit_tag "Search", :name => nil, class: "search-button"
          %li.toggle-topbar
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          %ul.right
            - if signed_in?
              %li
                = link_to cart_path do

                  My Cart
                  (
                  %span.cart-count>= current_user.cart_count
                  )

              %li= link_to "Past Purchases", user_purchases_path
              %li= link_to current_user.email, edit_user_registration_path
              %li= link_to "Logout", destroy_user_session_path, method: :delete

            - elsif current_user.nil?
              %li= link_to "Register", new_user_registration_path
              %li= link_to "Login", new_user_session_path
              %li= link_to "Admin Dashboard", "/cms"



    .content

      = yield

    = javascript_include_tag "application"
